.post-page {

  h1 {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -.334em;
      width: 1em;
      margin-bottom: -2px;
      border-bottom: 4px solid var(--color-primary);
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    div {
      gap: 0.5rem;
    }
  }
}