.post-page {

  pre code.hljs {
    padding: 0;
    background: none;
  }

  .ajacent-posts {
    figure {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}